<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>

  <%- include('./partials/cabecera.ejs', { session: locals.session }) %>

  <div id="contenedor">
    <main>       
       <%- include(contenido) %>
    </main>
  </div> <!-- Fin del contenedor -->

  <%- include('./partials/pie.ejs') %>
</body>
</html>