<div class="info">
    <h1>Bienvenido <%=  session.nombre %></h1>
    <p>Usa el menú superior para navegar.</p>

    
</div>

<% const mensaje = getAndClearFlash(); %>
<% if (mensaje) { %>
<dialog id="flashSaludo" open>
  <p><%= mensaje %></p>
  <form method="dialog">
    <button>OK</button>
  </form>
</dialog>

<script>
  // Opcional: autocerrar el modal tras unos segundos
  setTimeout(() => {
    document.getElementById('flashSaludo').close();
  }, 3000);
</script>
<% } %>