<div class="container"> 
    <div class="texto">
        <h1 class="texto-contenido">¿QUÉ ES RECIPEAT?</h1>
    
        <p class="texto-contenido">
               <strong>Recipeat</strong> es una <span class="destacado">plataforma online</span> donde los usuarios pueden <strong>descubrir</strong>, <strong>compartir</strong> y <strong>guardar recetas</strong> de todo tipo,
                creadas por una comunidad diversa de cocineros y amantes de la gastronomía.
        </p>
    
        <p class="texto-contenido">
            Nuestro objetivo es hacer que cocinar sea más <span class="destacado">accesible, divertido y satisfactorio</span> para todos, desde principiantes hasta chefs expertos.
        </p>
    
        <p class="texto-contenido">
           Te ayudaremos a explorar <span class="destacado">nuevos sabores</span>, mejorar tus habilidades culinarias y conectar con un colectivo apasionado por la comida.
        </p>
    
        <p class="texto-contenido">
            <strong>Cocina, disfruta y comparte</strong> con Recipeat: tu comunidad culinaria.
        </p>    
    </div>   
    <div class="imagen-container">        
        <img class="imagen" src="/img/portada.jpeg">
    </div>  
    </img>  
</div>
