<h1>INICIA SESIÓN</h1>
<form action="/usuarios/login" method="POST">
	<div class="login">
		<fieldset>
			<legend>Usuario y contraseña</legend>

			<div>
				<input type="text" name="username" id="username" required placeholder="nombre de usuario"
					value="<%= locals.username ? locals.username : '' %>">
			</div>
			<div>
				<input type="password" name="password" id="password" required placeholder="contraseña">
			</div>
			<% if (locals.error) { %>
				<p><strong>
						<%= locals.error %>
					</strong></p>
				<% } %>
					<button type="submit">Iniciar sesión</button>
					<p>¿No tienes cuenta?</p>
					<p><a href="/usuarios/register">Crea tu cuenta</a></p>
		</fieldset>
	</div>