<div class="container-logreg">	
	<div class="form-registro">
		<form action="/usuarios/login" method="POST">
			<fieldset>
				<h2>INICIAR SESIÓN</h2>
				<% if (locals.error) { %>
					<p class="error-logreg"><strong><%= locals.error %></strong></p>
				<% } %>
				<div><label>Nombre:</label> <input type="text" name="username" value="<%= datos.username %>" /><%- helpers.error(errores, 'username') %></div>
				<div><label>Contraseña:</label> <input type="password" name="password" /><%- helpers.error(errores, 'password') %></div>
				<div><button type="submit">Iniciar sesión</button></div>
				<div class="new-customer">
					<div class="divider">
						<span>¿No tienes cuenta?</span>
					</div>
					<a class="create-account-btn" href="/usuarios/registro">Crear cuenta</a>
				</div>
			</fieldset>
		</form>
	</div>
</div>