<h1>CREAR CUENTA</h1>

<form action="/usuarios/register" method="POST">
<fieldset>
	<% if (locals.error) { %>
		<p><strong><%= locals.error %></strong></p>
	<% } %>
	<legend>Datos del usuario</legend>
	<div><label>Nombre:</label> <input type="text" name="username" /></div>
    <div><label>Apellidos:</label> <input type="text" name="username" /></div>
    <div><label>Dirección de correo:</label> <input type="text" name="username" /></div>    
	<div><label>Contraseña:</label> <input type="password" name="password" /></div>
	<button type="submit">Crear Cuenta</button>
</fieldset>
