<h1>CREAR CUENTA</h1>	
<form action="/usuarios/register" method="POST">
	<fieldset>
		<% if (locals.error) { %>
			<p><strong><%= locals.error %></strong></p>
		<% } %>
		<legend>Datos del usuario</legend>
		<div><input type="text" name="username" placeholder="Nombre de usuario" required/></div>
		<div><input type="email" name="email" placeholder="Email" required/></div>    
		<div><input type="password" name="password" placeholder="Contraseña" required/></div>
		<button type="submit">Crear Cuenta</button>
		<div class="separator">
			<hr>
			<span>Ya tengo una cuenta</span>
			<hr>
		</div>
		<a href="/usuarios/login">
			<button type="button">Iniciar sesión</button>
		</a>		
	</fieldset>
</form>
