<h1><%=receta.nombre%></h1>

<div class="receta-detalle">
    <div class="receta-imagen">
        <img src="/images/<%= receta.foto %>" alt="<%= receta.nombre %>">
    </div>
    <div class="receta-info">
        <p><%= receta.descripcion %></p>
    </div>
</div>