    /**
    Hoja de estilos para las vistas de la lista de recetas y las páginas de las recetas
    */

    #mensajeNoEncontrado{
        width: 1000px;
        display: none;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        color: white;
    }

    .receta-ingredientes {
        /*Cuando se implemente la compra de ingredientes se mostrará*/
        visibility: hidden;
    }

    .create-receta, .update-receta{
        font-family: 'Montserrat', sans-serif;
    }

    .create-receta input, .update-receta input{
        font-family: 'Montserrat', sans-serif;
    }

    .create-receta textarea, .update-receta textarea{
        font-family: 'Montserrat', sans-serif;
        resize: none;
        width: 100%;             
        height: auto;            
        min-height: 10em;        /* Mínimo 20 filas, equivalente a 20em de altura (aproximadamente 20 líneas) */
        resize: none;            /* No se puede redimensionar */
        box-sizing: border-box;  /* Incluye el padding y borde en el cálculo de ancho y altura */
    }

    #create-comentario textarea{
        font-family: 'Montserrat', sans-serif;
        resize: none;
        width: 100%;             
        height: auto;            
        min-height: 5em;        
        resize: none;            
        box-sizing: border-box;  
        font-family: 'Montserrat', sans-serif;
        border: none;
    }

    .create-receta fieldset, .update-receta fieldset{
        height: auto;
    }

    /* Estilo del contenedor de la lista de recetas*/
    .lista-recetas {
        display: flex;
        margin-top: 15%;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 100px;
        max-height: 90vw;
    }

    /* Estilos para el buscador */
    .buscador {
        display: flex;
        position: relative;
        margin-bottom: 20px;
        width: 65%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 100em;
        background-color: #ccc;
    }

    .buscador .icono-busqueda {
        position: relative;
        width: 2em;
    }

    .buscador .input {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 1em;
    }

    .recetas-container {
        margin-top: 20px;
        display: flow;
        border-color: white;
        border-width: 1px;
        overflow-y: scroll;
        max-height: 100%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    .receta-info{
        padding: 15px 20px 15px;
        font-size: 17px;
    }

    .receta-info h3{
        margin-bottom: 10px;
    }

    .receta-info p{
        font-family: 'Poppins', sans-serif;
    }

    .receta-card {
        position: relative;
        display: flex;
        transition: 0.3s;
        border-radius: 10px;
        border-width: 2px;
        border-color: white;
        margin-right: 1%;
        margin-left: 1%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        background-color: #ccc;
        overflow: hidden;
        max-height: 20vw;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
    }


    .receta-card a {
        text-decoration: none;
        color: black;
        width: 100%;
        max-height: inherit;
    }

    .receta-card:hover {
        background-color: rgb(252, 202, 161);
        transform: scale(1.01);
    }

    .receta-card .receta-content {
        position: relative;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 33% 66%;
        max-height: inherit;
    }

    .receta-card .resumen {
        /*Esto se asegura de cambiar de línea si se sale de la anchura*/
        overflow-wrap: break-word;
        max-width: 100vw;
        overflow-y: hidden;
    }

    fieldset .error {
        color: red;
    }

    fieldset textarea{
        width: 100%;
        padding: 10px;
        margin-top: 6px;
        margin-bottom: 16px;
        border: none;
        border-radius: 6px;
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
    }

    .receta-card .receta-imagen {
        position: relative;
        border-radius: 10px;
        height: 100%;
        max-width: 100%;
        max-height: inherit;
    }

    .receta-img{        
        border: 2.5px solid black; /* puedes cambiar el grosor y color */
        margin-left: 15px;
        margin-top: 15px;
        border-radius: 10px;
    }

    .buscador .input input {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border: none;
        background-color: #ccc;
        outline: none;
    }

    .receta-vista {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-right: 2%;
        margin-bottom: 5%;
        margin-top: 12%;
        padding: 15px;
        border-radius: 12px;
        background-color: #ccc;
        width: 90vw;
        font-family: 'Montserrat', sans-serif;
    }

    .receta-vista .receta-detalle {
        display: flex;
        padding: 5px;
        border-radius: inherit;
        flex-direction: row;
        align-items: center;
        gap: 5%;
        max-width: 100%;
    }

    .receta-vista .receta-detalle .receta-imagen {
        border-radius: inherit;
        max-width: 50%;
        height: auto;
        width: auto;
    }

    .receta-vista .receta-detalle .receta-info {
        display: flex;
        flex-direction: column;
        border-radius: inherit;
        width: 100%;
        max-width: inherit;
    }

    .receta-vista .receta-detalle .receta-info p {
        max-width: 100%;
    }

    .creador{
        margin-top: 0;
        font-size: 12px;
        margin-bottom: 20px;
        margin-left: 8px;
    }

    .receta-vista p {
        display: block;
        width: 100%;
        object-fit: cover;
        padding-top: 1%;
        padding-bottom: 1%;
        /*Esto se asegura de cambiar de línea si se sale de la anchura*/
        overflow-wrap: break-word;
    }

    .receta-vista .receta-likes {
        border-top: 1px solid #ddd;
    }

    .receta-vista .receta-botones {
        width: 25%;
        margin-left: 37.5%;
        display: grid;
        grid-template-rows: auto;
    }

    .receta-botones a {
        padding-top: 3%;
        padding-bottom: 3%;
        border: 1px solid #ccc;
        background-color: rgb(0, 0, 0);
        color: white;
        font-weight: bold;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
        text-align: center;
    }

    .receta-botones a:hover {
        background-color: #e67e22;
    }

    .receta-ingredientes,
    .receta-preparacion,
    .receta-comentarios {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        padding-top: 10px;
        border-top: 1px solid #ddd;
    }

    .comentario-card {
        border: 2.2px solid black; /* cambia de gris claro a negro */
        border-radius: 10px;
        padding: 10px;
        background-color: #e1e1e1;
        box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.7); /* puedes mantener esto o quitarlo */
    }

    .comentario-botones {
        width: 25%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 15%;
    }

    .receta-comentarios .comentarios-container {
        display: grid;  /*uso de grid*/
        grid-template-columns: repeat(3, 1fr); /* 3 comentarios x fila y dividir espacio disponible en 1 fraccion (fr) */
        gap: 20px; /* espacio entre comentarios */
        max-height: none; /* quitamos el scroll */
        overflow-y: auto;
        margin-top: 15px;
        padding: 11px;
    }

    .receta-comentarios #create-comentario {
        padding-top: 4.5%;
    }

    .receta-comentarios #create-comentario input {
        width: 100%;
        padding: 10px;
        margin-top: 6px;
        margin-bottom: 16px;
        border: none;
        border-radius: 6px;
        background-color: rgba(72, 71, 71, 0.2);
        color: black;
    }

    @media (max-width: 1000px) {
        .receta-vista .receta-detalle {
            flex-direction: column;
            /* Cambia a columna si es muy estrecho */
            align-items: center;
            text-align: center;
            padding-right: 2%;
        }

        .receta-vista .receta-detalle .receta-info{
            align-items: center;
            /*text-align: center;*/
        }

        .receta-card{
            font-size: 3vw;
        }
    }