/* Estilos para el buscador */
.buscador {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 20px; /*Aumenta la separación entre el buscador y las recetas */
}

/* Ajustar las propiedades del icono */
.icono-busqueda {
    position: absolute;
    left: 21px; /* Ajusta la posición del icono */
    width: 20px; /* Tamaño adecuado del icono */
    height: 20px;
    color: #7c7b7b; /* Color gris para el icono */
}

/* Ajustar el input para que no se solape con el icono */
.buscador input {
    width: 80%;
    padding: 12px 40px; /* Dejar espacio para el icono */
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;   /*fuente mas usada por las paginas*/ 
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.3); /*sombra al buscador*/
}

/* Efecto cuando el usuario hace clic en el input */
.buscador input:focus {
    border-color: #000000;
    box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.8);
}

.buscador input::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Estilos del contenedor de recetas */
.recetas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Estilos para cada tarjeta de receta */
.receta-card {
    width: 90%; /*largo de la caja de la receta*/
    border-radius: 17px;    /*curvatura de los bordes*/
    overflow: hidden;
    background-color: white;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5), /* Sombra más oscura */
                -6px -6px 15px rgba(255, 255, 255, 0.6); /* Efecto de relieve */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 15px;
}

.receta-card a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Mantiene el color del texto */
}

/* Aumentar la sombra cuando el usuario pasa el mouse */
.receta-card:hover {
    transform: scale(1.03);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3), /* Sombra más grande y oscura */
                -8px -8px 20px rgba(255, 255, 255, 0.7);
}

/* Contenido de la receta en flexbox */
.receta-content {
    display: flex;
    align-items: center;
}

/* Estilos para la imagen de la receta */
.receta-imagen {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.receta-imagen img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Estilos para la información de la receta */
.receta-info {
    flex: 2;
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.receta-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.receta-info p {
    font-size: 16px;
    color: #333;
}

.receta-botones a{
    text-decoration: none;
}

.resumen{
    width: 300px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
