<%
/**
 * Muestra el saludo si el usuario esta registrado, en caso de que no lo este,
 * muestra que es un usuario desconocido.
 */
function mostrarSaludo(session){
	if (session == null || ! session.login){
		return `<p>Usuario desconocido. <a href="/usuarios/login">Login</a></p>`;
	}

	return `<p>Bienvenido ${session.username}. <a href="/usuarios/logout">(salir)</a></p>`;
}
%><header>
	<img src="/img/logo.PNG" alt="logo recipeat"  width="200" height="110">	
		<div class="saludo">
			<%- mostrarSaludo(session) %>
		</div>
</header>