<%
/**
 * Muestra el saludo si el usuario esta registrado, en caso de que no lo este,
 * muestra que es un usuario desconocido.
 */
function mostrarSaludo(session){
	if (session == null || ! session.login){
		return `<a href="/usuarios/login" class="icono-login" title="Login">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="bevel">
						<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle>
					</svg>
				</a>`;
	}

	return `<p>Bienvenido ${session.username}. <a href="/usuarios/logout">(salir)</a></p>`;
}
%><header>
	<a href="/">
		<img src="/img/logo.PNG" alt="logo recipeat"  width="200" height="110" class="logo" title="Página de inicio de Recipeat">	
	</a>
		<div class="saludo">
			<%- mostrarSaludo(session) %>
		</div>
</header>