<%
/**
 * Muestra el enlace si el usuario esta registrado, en caso de que no lo este, no se muestra
 */
function mostrarEnlace(session){
	if (session != null && session.login){
		return `<li><a href="/receta/createReceta">Añadir receta</a></li>`;
	}
	return ""; // Por si acaso
}
%>
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3>Sobre Recipeat</h3>
            <p>Descubre, comparte y guarda recetas increíbles.</p>
            <p> Únete a nuestra comunidad de amantes de la cocina.</p>
        </div>
        <div class="footer-section">
            <h3>Enlaces</h3>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contenido/normal">Cómo funciona</a></li>
                <% if (session.rol === 'A') {%>
                <li><a href="/contenido/admin">Administrar</a></li>
                <% } %>
                <li><a href="/receta/listaRecetas">Recetas</a></li>                
			    <%- mostrarEnlace(session) %>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contacto</h3>
            <p>Email: contacto@recipeat.com</p>
            <p>Teléfono: +34 912 345 678</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Recipeat. Todos los derechos reservados.</p>
    </div>
</footer>
